.size {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

button {
  width: 100%;
  height: 100%;
}
